<div class="pageheader">
  <h1>Shleters</h1>
  <h3>Find your new best friend at one of these shelters</h3>
</div>
<% @shelters.each do |shelter| %>
  <h2 style="text-align: center"><a href="/shelters/<% shelter.id %>"><%= shelter.name %></h2>
<% end %>
